<div class="container">
  <div class="info-sections">
    <div class="info-section intro-section">
      <a><img src="../../../assets/trabajadoronline.png" alt="agenda"></a>
      <div>
        <h1>Bienvenido a la gestión inteligente de turnos para clientes</h1>
        <p>Únase a nuestra comunidad de profesionales y descubra cómo nuestra aplicación puede mejorar su eficiencia y productividad</p>
      </div>
    </div>

    <div class="info-section cta-section">
      <a><img src="../../../assets/agenda.png" alt="agenda"></a>  
      <div>
        <h1>¡Empiece a optimizar su Agenda hoy!</h1>
        <p>Controle su agenda con nuestra aplicación fácil de usar. Agende citas, gestione clientes y organice su negocio de manera eficiente</p>
      </div>
    </div>

    <div class="info-section ntif-section">
      <a><img src="../../../assets/notificaciones.png" alt="agenda"></a>  
      <div>
        <h1>Reciba notificaciones de sus citas</h1>
        <p>Configure sus alertas para mantener organizadas y al día las reuniones con sus clientes</p>
      </div>
    </div>
  </div>

  <div class="info-section bton-section">
    <a href="/qr" class="btn btn-primary">CalendApp para celular</a>
    <a href="https://main.d2srhtmdwl7wb8.amplifyapp.com" class="btn btn-primary">Ingresar a CalendApp web</a>
  </div>
</div>
